<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="Dentas_Pro.DAL.Properties.Settings.DentasProConnectionString" connectionString="Data Source=.;Initial Catalog=DentasPro;User ID=sa;Password=sa123" providerName="System.Data.SqlClient" />
    <add name="DentasProEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=DentasPro;User ID=sa;Password=sa123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>